html{
    background-color: black;
}

div[class="meme"]{
    font-family: "Libre Baskerville", serif;
    width: 60%;
    margin-left: 20%;
    margin-top: 1.5%;
}

.meme img{
    width: 100%;
    border: 20px ridge wheat;
}

.meme h1{
    font-size: 2rem;
    color: antiquewhite;
    text-align: center;
    text-transform: uppercase;
}

.meme p{
    color: antiquewhite;
    text-align: center;
}