
html{
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0px 50px;
  background-color: #faf9f6;
  height: 100%;
}

h1{
  font-size: 5rem;
}

.main{
  width: 100%;
  height: 95%;
}

.card > img{
  width: 300px;
  height: 200px;
  margin: 0px;
  margin-right: 50px;
  float: left;
}

span{
  color: #191970;
}

footer{
  text-align: right;
  color: #191970;
}

.card.left{

  float: left;
  
}

.card.right{
  float: right;
}

.card{
  width: 45%;
}

@media(width<=680px){
  html{
  width: 100%;
  height: 100%;
}



body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0px 50px;
  background-color: #faf9f6;
  height: 100%;
}
.logo{
  width: 100px;
  height: 14pt;
}
h1{
  font-size: 3.5rem;
  text-align: center;
}

.main{
  width: 100%;
  height: 95%;
}

.card > img{
  width: 100%;
  height: 200px;
  margin: 0px 50px 10px 0px;
  object-fit: cover;
  object-position: center;
}
span{
  color: #191970;
}

footer{
  text-align: right;
  color: #191970;
}

.card{
  width: 100%;
  margin: 0px 0px 30px 0px;
}

.card p{
  text-align: justify;
}
}